.navbar {
  background-color: #f4f4f4;
  padding: 10 px 20 px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20 px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15 px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 5 px 10 px;
  flex-direction: column;
  gap: 10 px;
}

.nav-links li a:hover {
  background-color: #ddd;
  border-radius: 4 px;
}
  
  .btn-tarif:hover {
    background-color: #1e90ff;
  }
