.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffecd9;
    padding: 25px;
    gap: 20px; /* Menü öğeleri arası boşluk arttı */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }  
  
  .logo {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Menü bağlantıları arasında daha fazla boşluk */
    padding: 0;
    margin: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 5px; /* Bağlantı iç boşluğu arttı */
    border-radius: 5px;
  }
  
  .nav-links li a:hover {
    background-color: #ffd5b7;
    color: dodgerblue;
  }
  
  /* Tarif Ekle butonu */
  .btn-tarif {
    background-color: dodgerblue;
    color: white !important;
    padding: 5px 5px;
    border-radius: 5px;
  }
  
  .btn-tarif:hover {
    background-color: #1e90ff;
  }