body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8f2;
  color: #4e2f1e;
}
  h1{
    background-color: dodgerblue; 
    color: white; 
    padding-left: 20px;
  }
  img{

    display: inline-block; 
    width: 50%; 
    height: auto; 
    margin-left: 20px;
  }
  p{
    max-width: 650px; 
    margin-left: 10px;
  }
  a{
    max-width: 650px; 
    margin-left: 10px;
  }
  