body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8f2;
  color: #4e2f1e;
}

h1{
  background-color: dodgerblue; 
  color: white; 
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 650px; 
  margin-left: 10px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input, select, textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f4f4f4; 
  border: 2px solid dodgerblue;
  color: dodgerblue;
}
a{
  max-width: 650px; 
  margin-left: 10px;
}
