body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff8f2;
    color: #4e2f1e;
}

h1 {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

img {
    display: block;
    width: 35%;
    height: auto;
    margin: 30px auto;
    border-radius: 12px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    box-shadow: 10px rgba(0,0,0,0.05);
}

table thead {
    background-color: #f2f2f2;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

ol {
    max-width: 650px;
    margin: 30px auto;
    padding-left: 20px;
    line-height: 1.6;
}

li {
    margin-bottom: 15px;
}

h4 {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 50px;
}
a{
    max-width: 650px; 
    margin-left: 10px;
    margin-bottom: 20px;
  } 
